* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  margin-bottom: 15px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Navbar Section */
.navbar {
  height: 70px;
  background: #1F2937;
  color: #fff;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav {
  display: flex;
  gap: 18px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  border-bottom: 2px solid #fff;
}

/* Hero Section */
.header {
  background: #243348;
  color: #fff;
  height: 400px;
  display: flex;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.hero-text {
  padding-right: 40px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 5px;
}

.hero-img {
  max-width: 400px;
}

.btn-signup {
  color: #fff;
  background: #3882F6;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* Testimonials Section */
.testimonials {
  height: 400px;
}

.testimonials h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}

.testimonials .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  height: 60%;
  text-align: center;
}

/* Quote Section */
.quote {
  background: #E5E7EB;
  height: 400px;
  display: flex;
}

.quote .container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 850px;
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
  color: #1F2937;
}

figcaption {
  text-align: right;
  font-weight: bold;
  color: #000;
}

/* Footer */
.footer {
  background: #1F2937;
  font-size: 20px;
  color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}